:root {
  --bg1:#CEE2E4;
  --bg2:#a9c2c5;
  --bg3:#659295;
  --card-bg: rgba(255,255,255,.35);
  --card-bg-2: rgba(255,255,255,.18);
  --text:#000000;
  --muted:#6b7280;
  --divider:#1f2937;
  --button:#1E1E1E;
  --button-text:#ffffff;
  --accent:#f4b400;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: radial-gradient(1200px 800px at 25% 30%, var(--bg1) 0%, rgba(217,231,234,0.75) 45%, transparent 70%),
    linear-gradient(135deg, var(--bg2) 0%, var(--bg3) 100%);;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  mmargin:0; 
  font-family:"Inter", system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  color:var(--text);
  
  /* 🎯 KEY FIX: กำหนด background-color เป็น transparent เพื่อให้เห็น Gradient ผ่านทะลุได้ */
  background-color: transparent; 
  
  /* สั่งตรึง Gradient */
  background-attachment: fixed;
  min-height: 100vh;
  
  /* Gradient ของคุณ */
  background:
    radial-gradient(1200px 800px at 25% 30%, var(--bg1) 0%, rgba(217,231,234,0.75) 45%, transparent 70%),
    linear-gradient(135deg, var(--bg2) 0%, var(--bg3) 100%);
    
  overflow-x:hidden;
  justify-content:center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
